ROSI Controller/bin/Debug/ROSI Controller.exe
ROSI Controller/bin/Debug/ROSI Controller.exe.config
ROSI Controller/bin/Debug/ROSI Controller.pdb
ROSI Controller/bin/Debug/ROSI Controller.vshost.exe
ROSI Controller/bin/Debug/ROSI Controller.vshost.exe.config
ROSI Controller/obj/Debug/DesignTimeResolveAssemblyReferences.cache
ROSI Controller/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ROSI Controller/obj/Debug/ROSI Controller.csproj.FileListAbsolute.txt
ROSI Controller/obj/Debug/ROSI Controller.csproj.GenerateResource.Cache
ROSI Controller/obj/Debug/ROSI Controller.csprojResolveAssemblyReference.cache
ROSI Controller/obj/Debug/ROSI Controller.exe
ROSI Controller/obj/Debug/ROSI Controller.pdb
ROSI Controller/obj/Debug/ROSI_Controller.Form1.resources
ROSI Controller/obj/Debug/ROSI_Controller.Properties.Resources.resources
ROSI Controller/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ROSI Controller/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ROSI Controller/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
